<%- include('./templates/header.ejs') %>
<%- include('./templates/navbar.ejs') %>
<div class="container mt-4">
	<button type="button" class="btn btn-secondary" onclick="window.history.back();">Voltar</button><br>
	<hr><br>
	<h1 class="display-2">☕ Sobre o S2 Livros</h1><br>
	<h1 class="display-5">Objetivo</h1><br>
	<p class="lead">O S2Livros pretende ser um gerenciador do acervo pessoal de livros das pessoas através do qual elas poderão gerir suas aquisições, servindo ainda como um sistema que controle os empréstimos efetuados a terceiros, para que os livros do acervo do usuário não se percam.</p>
	<h1 class="display-5">Desenvolvedor</h1><br>
	<p class="lead"><a href="https://www.linkedin.com/in/william-edson-hs/">William Édson Hasstenteufel Souza</a>, como trabalho de conclusão do curso de Engenharia de Software da <a href="https://www.unicesumar.edu.br/">Unicesumar</a>.</p>
	<h1 class="display-5">Tecnologias</h1><br>
	<ul>
		<li class="lead"><strong>Front-end:</strong>
			<ul>
				<li class="lead"><a href="https://developer.mozilla.org/pt-BR/docs/Web/HTML">HTML</a></li>
				<li class="lead"><a href="https://developer.mozilla.org/pt-BR/docs/Web/CSS">CSS</a>
					<ul>
						<li class="lead"><strong>Framework: </strong><a href="https://getbootstrap.com/">Bootstrap 5</a></li>
					</ul>
				</li>
				<li class="lead"><a href="https://developer.mozilla.org/pt-BR/docs/Web/JavaScript">JavaScript</a></li>
			</ul>
		</li>
		<li class="lead"><strong>Back-end:</strong>
			<ul>
				<li class="lead"><a href="https://nodejs.org/en">Node.js</a></li>
				<li class="lead"><a href="https://ejs.co/s">EJS</a></li>
			</ul>
		</li>
		<li class="lead"><strong>Banco de dados:</strong>
			<ul>
				<li class="lead"><a href="https://mariadb.org/">MariaDB</a></li>
			</ul>
		</li>
		<li class="lead"><strong>Outras tecnologias:</strong>
			<ul>
				<li>Emojis:
					<ul>
						<li class="lead"><a href="https://emojipedia.org/">Emojipedia</a></li>
					</ul>
				</li>
			</ul>
		</li>
	</ul>
	<br><br><br>
</div>
